[submodule "pkg/vscode-extensions/bungcip.better-toml"]
	path = pkg/vscode-extensions/bungcip.better-toml
	url = https://github.com/bungcip/better-toml
[submodule "pkg/vscode-extensions/ms-azuretools.vscode-docker"]
	path = pkg/vscode-extensions/ms-azuretools.vscode-docker
	url = https://github.com/microsoft/vscode-docker.git
[submodule "pkg/vscode-extensions/ms-kubernetes-tools.vscode-kubernetes-tools"]
	path = pkg/vscode-extensions/ms-kubernetes-tools.vscode-kubernetes-tools
	url = https://github.com/Azure/vscode-kubernetes-tools.git
[submodule "pkg/vscode-extensions/ms-vscode.Go"]
	path = pkg/vscode-extensions/ms-vscode.Go
	url = https://github.com/Microsoft/vscode-go.git
[submodule "pkg/vscode-extensions/redhat.vscode-yaml"]
	path = pkg/vscode-extensions/redhat.vscode-yaml
	url = https://github.com/redhat-developer/vscode-yaml.git
[submodule "pkg/vscode-extensions/vscode-icons-team.vscode-icons"]
	path = pkg/vscode-extensions/vscode-icons-team.vscode-icons
	url = https://github.com/vscode-icons/vscode-icons.git
[submodule "pkg/vscode-extensions/wdstar.vscode-screwdriver"]
	path = pkg/vscode-extensions/wdstar.vscode-screwdriver
	url = https://github.com/wdstar/vscode-screwdriver.git
