{
  "application": {
    "pathManagementStrategy": "manual",
    "telemetry": {
      "enabled": false
    },
    "updater": {
      "enabled": false
    },
    "autoStart": true,
    "startInBackground": {{ install_rancher_start_in_background | tojson }},
    "hideNotificationIcon": true,
    "window": {
      "quitOnClose": false
    }
  },
  "virtualMachine": {
    "memoryInGB": {{ install_rancher_memory_in_gb }},
    "numberCPUs": {{ install_rancher_number_cpus }}
  },
  "kubernetes": {
    "enabled": false
  },
  "diagnostics": {
    "showMuted": false,
    "mutedChecks": {
      "RD_BIN_IN_BASH_PATH": true
    }
  },
  "experimental": {
    "virtualMachine": {
      "type": "vz",
      "useRosetta": true,
      "mount": {
        "type": "virtiofs"
      }
    }
  }
}
