{
    "ansible.python.interpreterPath": "{{ ansible_python.executable }}",
    "editor.fontFamily": "JetBrainsMono Nerd Font, Menlo, Monaco",
    "editor.formatOnPaste": true,
    "editor.tabSize": 2,
    "editor.wordWrap": "on",
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "workbench.colorTheme": "Iceberg",
    "workbench.iconTheme": "vscode-icons",
    "workbench.startupEditor": "none",
    "security.workspace.trust.untrustedFiles": "open",
    "editor.accessibilitySupport": "off",
    "github.copilot.chat.commitMessageGeneration.instructions": [
      { "text": "英語で回答してください。" },
      { "text": "Conventional Commits v1.0.0の仕様に従ってください。" },
    ]
}
