---

- name: Create Zsh config directory and target file
  vars:
    src_clean: "{{ misc_create_zshconf_src | d('', true) | string | trim }}"
    cmd_clean: "{{ misc_create_zshconf_cmd | d('', true) | string | trim }}"
    has_src: "{{ src_clean | length > 0 }}"
    has_cmd: "{{ cmd_clean | length > 0 }}"
    is_template: "{{ has_src and (src_clean | regex_search('\\.j2$')) | bool }}"
  block:
    - name: Create conf directory
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.config/zsh"
        state: directory
        mode: '0755'

    - name: Copy config file
      when:
        - not ansible_check_mode
        - has_src
        - not has_cmd
        - not is_template
      ansible.builtin.copy:
        src: "{{ src_clean }}"
        dest: "{{ ansible_env.HOME }}/.config/zsh/{{ src_clean }}"
        mode: '0644'

    - name: Create config file with cmd
      when:
        - not ansible_check_mode
        - has_src
        - has_cmd
        - not is_template
      ansible.builtin.shell:
        cmd: |
          {{ cmd_clean }} > {{ ansible_env.HOME }}/.config/zsh/{{ src_clean }}
      changed_when: false

    - name: Create config file with template
      when:
        - not ansible_check_mode
        - has_src
        - not has_cmd
        - is_template
      ansible.builtin.template:
        src: "{{ src_clean }}"
        dest: "{{ ansible_env.HOME }}/.config/zsh/{{ src_clean | regex_replace('\\.j2$', '') }}"
        mode: '0644'
