[user]
  name = {{ install_git_packages_github_profile.json.name }}
  email = {{ install_git_packages_github_profile.json.id }}+{{ install_git_packages_github_profile.json.login }}@users.noreply.github.com
  signingkey = {{ install_git_packages_github_ssh_signing_keys.json[0].key }}
