<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>(;˘ᴗ˘)</string>
		<key>shortcut</key>
		<string>あせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾉ∀`)ｱﾁｬｰ</string>
		<key>shortcut</key>
		<string>あちゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ꒪q꒪)</string>
		<key>shortcut</key>
		<string>あばば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(･3･)ｱﾙｪｰ?</string>
		<key>shortcut</key>
		<string>あるぇ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> L( ◠‿◠ )ォゥ</string>
		<key>shortcut</key>
		<string>おう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（＾ω＾）</string>
		<key>shortcut</key>
		<string>おっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾞ'ωﾞ` )</string>
		<key>shortcut</key>
		<string>がしゃーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σd(・ᴗ・ )</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｀･ω･´)ゞ</string>
		<key>shortcut</key>
		<string>けいれい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(^o^) ﾉ＜ころしあえー</string>
		<key>shortcut</key>
		<string>ころしあえー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三☞三(☞◠‿◠ ) ☞三☞</string>
		<key>shortcut</key>
		<string>ころせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=͟͟͞͞=͟͟͞͞ ☞ ´◔‿ゝ◔`)=͟͟͞͞=͟͟͞͞ ☞</string>
		<key>shortcut</key>
		<string>ころせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・`)</string>
		<key>shortcut</key>
		<string>しょぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（◞‸◟）</string>
		<key>shortcut</key>
		<string>しょぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（´◔ω◔`）</string>
		<key>shortcut</key>
		<string>しょぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(･ω･)/ ｽﾞｺｰ</string>
		<key>shortcut</key>
		<string>ずこー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´◔‿ゝ◔`)</string>
		<key>shortcut</key>
		<string>にっこり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（◜◡◝）</string>
		<key>shortcut</key>
		<string>にっこり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>／(^o^)＼ﾅﾝﾃｺｯﾀｲ</string>
		<key>shortcut</key>
		<string>なんてこったい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ・ᴗ・)ﾉｼ</string>
		<key>shortcut</key>
		<string>のし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʅ(´◔౪◔)ʃ</string>
		<key>shortcut</key>
		<string>はぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>('ω'ω'ω'=三='='ω'=三=三=三=三='ω'=三='ω'ω'ω'ω'ω')ﾌﾞｫﾝﾌﾞｫﾝ</string>
		<key>shortcut</key>
		<string>ぶぉん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_(:3｣∠)_</string>
		<key>shortcut</key>
		<string>ふてね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(:3[＿＿]</string>
		<key>shortcut</key>
		<string>ふとん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(:3っ)っ -=三[_____]</string>
		<key>shortcut</key>
		<string>ふとん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´・◡・｀)</string>
		<key>shortcut</key>
		<string>へー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ◠‿◠ )</string>
		<key>shortcut</key>
		<string>まじきち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｡оО(｡´•ㅅ•｡)Оо。</string>
		<key>shortcut</key>
		<string>みくおじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✘╹◡╹✘</string>
		<key>shortcut</key>
		<string>ゆのっち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩(´；ヮ；｀)∩ンヒィ～ｗｗｗｗｗｗｗｗｗｗｗｗｗｗ</string>
		<key>shortcut</key>
		<string>んひぃ</string>
	</dict>
</array>
</plist>
